/* Sylesheet for Logo component */
#wrapper {
  max-width: 35%;
  margin: auto;
}

svg {
  border-radius: 100%;
}

circle {
  fill: rgba(150, 48, 90, 1);
  stroke: #000;
  stroke-width: 20;
  stroke-dasharray: calc(3.14159 * 20);
  stroke-dashoffset: calc(3.14159 * 20);
  animation: rotate 5s linear infinite;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}


@keyframes rotate {
  to { stroke-dashoffset: 0 }
}

.letter {
  stroke-dasharray: 1100;
  stroke-dashoffset: 1100;
  -webkit-animation: anim2 0.7s linear 2s forwards, anim4 1s linear 3s forwards;
          animation: anim2 0.7s linear 2s forwards, anim4 1s linear 3s forwards;
}

.path {
  stroke: #FBFBFB;
  fill: #FBFBFB;
  fill-opacity: 0;
}

@keyframes anim2 {
    to { stroke-dashoffset: 0 }
}

@keyframes anim4 {
  to { fill-opacity: 1 }
}
